{% extends "root/base.html" %}

{% block title %}
  <title>Create Password</title>
{% endblock title %}

{% block content%}
    <h1 class="display-5" style="margin-top: 100px;"> Create and Store your password.</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="number" id="length" name="Length" value="8" min="2" max="20">
        <input type="button" onclick="generate_password()" class="btn btn-secondary" value="Generate Password">
        <input class="btn btn-primary" type="submit" value="Store Now">
    </form>
    <script>
        function generate_password(){
            var chars = "0123456789abcdefghijklmnopqrstuvwxyz!@#$%^&*()ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            var passwordLength = document.getElementById("length").value;
            var password = "";
            for (var i = 0; i < passwordLength; i++) {
                var randomNumber = Math.floor(Math.random() * chars.length);
                password += chars.substring(randomNumber, randomNumber +1);
            }
            document.getElementById("id_password").setAttribute('value',password);
        }
    </script>
{% endblock content%}