{% extends "root/base.html" %}

{% block title %}
  <title>Details Password</title>
{% endblock title %}

{% block content%}
    <h1 class="display-4" style="margin-top: 100px;">{{ object.title }}</h1>
    <p>Username: <strong>{{ object.username }}</strong></p>
    <p>Password: <strong>{{ object.password }}</strong></p>
    <p>{{ object.datetime }}</p>
    <a class="btn btn-primary" style="margin-top: 10px;" href="{% url 'password-update' object.id %}" role="button">Update</a>
{% endblock content%}