{% extends "root/base.html" %}

{% block title %}
  <title>Password List</title>
{% endblock title %}

{% block content%}
<ol class="list-group">
    {% for object in object_list %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold"><a class="badge bg-light text-dark" style="text-decoration: none;font-size: 22px;" href="{% url 'password-details' object.id %}">{{ object.title }}</a></div>
            {{ object.username }}
        </div>
        <span class="badge bg-primary rounded-pill">{{ object.datetime }}</span>
        </li>
    {% empty %}
        <h1 class="display-3 text-center" style="margin-top: 10rem;">No Items</h1>
    {% endfor %}
</ol>
<div class="pagination" style="margin-top: 10px;">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary" href="?page=1">&laquo; first</a>
            <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content%}