{% extends "root/base.html" %}

{% block title %}
  <title>Generate Password</title>
{% endblock title %}

{% block content%}
    <button onclick="generate_password()" class="btn btn-primary" style="margin-top: 50px;margin-bottom: 10px;">Re-generate</button>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
        <input id="password" value="12345678" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        <input type="number" id="length" name="Length" value="8" min="2" max="20">
    </div>
    <a class="btn btn-primary" href="{% url 'password-create' %}" role="button">Use</a>
    <script>
        function generate_password(){
            var chars = "0123456789abcdefghijklmnopqrstuvwxyz!@#$%^&*()ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            var passwordLength = document.getElementById("length").value;
            var password = "";
            for (var i = 0; i < passwordLength; i++) {
                var randomNumber = Math.floor(Math.random() * chars.length);
                password += chars.substring(randomNumber, randomNumber +1);
            }
            document.getElementById("password").setAttribute('value',password);
        }
    </script>
{% endblock content%}